.under-construction {
    padding: 100px 0;
    text-align: center;
    background-color: #f8f9fa;

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
        color: #343a40;
    }

    p {
        font-size: 1.5em;
        color: #6c757d;
    }
}