body {
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.under-construction {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .welcome-box {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 20px;
        color: #343a40;
    }

    p {
        font-size: 1.5em;
        color: #6c757d;
    }
}